body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

/* Navigation Bar Settings  */

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav-right {
    float: right;
}

img.myUIC-nav{
    margin-left: 2%;
    padding: 5px;
    max-width: 100%;
}

img.nav-profile{
    max-width: 100%;
    height: 50px;
    margin: 10px 50px 0px 0px;
}

input.form-search{
    border: none;
    border-bottom: 1px solid #4d4b4b ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

input.form-search:focus{
    border-bottom: 3px solid #e65b7a;
    outline-width: 0;
}

div.nav-search{
    position: absolute;
    margin: 30px 0px 0px -16%;
    width: auto;
}

/* body content settings */

div.body-container{
    position: absolute;
    border: 1px solid rgb(60, 23, 130);
    width: 1000px;
    margin: 0px 0px 0px 50px;
}

div.chat-container{
    position: absolute;
    border: 1px solid red;
    width: 600px;
}

div.profile-container{
    position: relative;
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 3%;
    padding: 5px;
}

div.profile-container span{
    font-weight: normal;
}

div.profile-container h5{
    position: absolute;
    margin-left: 50%;
}

div.profile-container table{
    position: absolute;
    margin: 100px 0px 0px 0px;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
}